extends base

block content
  main.main
    .confirmation-message
      h2.heading-secondary.ma-bt-lg Please confirm your email
      p We’ve sent you a confirmation email to complete your signup.
      p Check your inbox and click the link to confirm
      