extends base

block content
    main.main
        .login-form
            h2.heading-secondary Reset Password

            form.form.form--reset-password(data-token=`${token}`)
                .form__group
                    label.form__label(for="password")
                        | New Password

                    input#password.form__input(type="password")
                    p#password-error.form__error-message
                .form__group
                    label.form__label(for="passwordConfirm")
                        | Confirm Password

                    input#passwordConfirm.form__input(type="password")
                    p#password-confirm-error.form__error-message

                .form__group
                    button.btn.btn--green Reset Password